
html{
    background-image: url("fondo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body
{
    margin: auto;
}

.titulo
{
    margin: auto;
    width: fit-content;
    text-align: center;
    font-size: 2vw;
    border: solid black 3px;
    padding: 3vw;
    background-color: aliceblue;
}

.titulo h1
{
    margin-bottom: 0%;
    margin-top: 0%;
}

.titulo p
{
    margin-top: 0%;
}


.topbar
{
    padding: 2vw;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    margin-bottom: 2vw;
}


.topbar li
{
    font-size: 2vw;
    list-style: none;
    padding-left: 2vw;
    padding-right: 2vw;
}

.topbar li a
{
    text-decoration: none;
    color: black;
    border: solid black 3px;
    padding: 1.5vw;
    background-color: aliceblue;
}



.divCajon
{
    width: fit-content;
    margin: auto;
}



.cajon
{
    width: 50vw;
    
}

.listaCajon
{
    padding-inline-start: 0vw;
    display: block;
    list-style: none;
    transform: translateY(-35vw) translateX(20vw);
}


.tasa
{
    width: 15vw;
    position: fixed;
    transition: 0.5s;
}

.tasa:hover
{
    transition: 0.5s;
    transform: translateY(-2vw);
    width: 17vw;

}


.contactame
{  
    font-size: 2vw;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 7vw;
}

.contactame a
{
    text-decoration: none;
    color: black;
    border: solid black 3px;  
    padding: 1.5vw;
    background-color: aliceblue;
}







































/* Media Query for devices with a maximum width of 768px (tablets and mobile devices) */
@media only screen and (max-width: 768px) 
{
    
html
{
    padding: 0%;
    background-attachment:fixed;
}

.titulo
{
    margin: auto;
    width: fit-content;
    text-align: center;
    font-size: 6vw;
    border: solid black 3px;
    padding: 3vw;
    margin-bottom: -10vw;
}

.titulo h1
{
    margin-bottom: 0%;
    margin-top: 0%;
}

.titulo p
{
    margin-top: 0%;
    font-size: 8vw;
}


.topbar
{
    padding: 2vw;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 8vw;
    margin-bottom: 2vw;
    border: none;
    align-items: center;
}


.topbar li
{
    font-size: 10vw;
    list-style: none;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 10vw;
}

.topbar li a
{
    text-decoration: none;
    color: black;
    border: solid black 3px;    
    padding: 1.5vw;
}



.divCajon
{
    width: fit-content;
    margin: auto;
    margin-top: 10vw;
}

.cajon
{
    width: 90vw;
}

.tasa
{
    width: 30vw;
    position: absolute;
    transform:translateY(-30vw);
}


.tasa:hover
{
    transition: 0.5s;
}

.contactame
{
    font-size: 8vw;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 10vw;
}

.contactame a
{
    border: solid black 3px;    
    padding: 1.5vw;
    text-decoration: none;
    color: black;
}


}